<form class='form form-info'>
    {{#>FormFields}}
        {{{passCurr}}}
        {{{passNew}}}
        {{{passNewMore}}}
    {{/FormFields}}
    {{#>FormActions}}
        {{{submit}}}
    {{/FormActions}}
</form>
