.user-layout {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.user-container {
    justify-content: center;

    .control-avatar {
        margin-bottom: 1.3125em;
    }

    input {
        color: var(--disabled-color);
    }
}
.text_title {
    margin-bottom: 4.15385em;
    height: 1.71em;
}

.user-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 31.875em;
    height: 38em;
}

.user-actions {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: flex-start;

    width: 100%;
    height: 9.511em;

    .button:last-child {
        color: var(--error-color);
    }
}

.user-actions_edit {
    display: none;
}
