.chat__layout {
    width: 100vw;
    height: 100vh;

    display: flex;
}

/** NAV */

.chat__nav {
    height: 100%;
    width: 100%;
    max-width: 310px;

    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    border-right: 1px solid var(--background-color-contrast);
    background-color: var(--background-color-tint);
}

.chat__nav > .divider {
    margin: 0 10px
}

.chat__nav-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 102px;

    box-sizing: border-box;
    padding: 21px 10px 14px;

    flex-shrink: 0;
}

.chat__nav-panel .button {
    align-self: flex-end;
}

/** MESSAGES */

.messages__container {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;
}

.messages__container .divider{
    margin: 0 20px;
}

.messages__header {
    display: flex;
    align-items: center;
    gap: 10px;

    height: 54;
    padding: 11px 20px;
}

.messages__header-title {
    flex-grow: 1;
}

.messages__footer {
    display: flex;
    align-items: center;

    gap: 10px;
    padding: 11px 20px;
}

.messages__footer .message-field{
    flex-grow: 1;
}
