.chat__layout {
    width: 100vw;
    height: 100vh;

    display: flex;
}

/** NAV */

.chat__nav {
    height: 100%;
    width: min-content;

    display: flex;
    flex-direction: column;

    border-right: 1px solid var(--background-color-contrast);
    background-color: var(--background-color-tint);
}

.chat__nav > .divider {
    margin: 0 0.625em;
}

.chat__nav-panel {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    padding: 1.3125em 0.625em 0.875em;
    gap: 1.4375em;
}

.chat__nav-panel > .button__text {
    align-self: flex-end;
}

/** MESSAGES */

.messages__container {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;
}

.messages__container > .divider {
    margin: 0 1.25em;
}

.messages__row {
    display: flex;
    align-items: center;

    gap: 0.625em;
    padding: 0.625em 1.25em;
}

.messages__title {
    flex-grow: 1;
}

/** SPECIAL */

.menu-item__remove-user-img > img {
    rotate: 45deg;
}
