{{#> BaseLayout}}
        {{#> FormAuth}}
            <h1 class="auth__title">Authtorisation</h1>
            <div class="fields-container">
                {{> Field label="Login"}}
                {{> Field label="Password"}}            
            </div>
            {{> Button label="Sign in" type="fill" page="list"}}
            {{> Button label="Sign up" type="link" page="registration"}}
        {{/FormAuth}}
{{/BaseLayout}}