.form-search {
    background: var(--background-color-contrast);
    border-radius: 0.3125em;
}

.form-search__container {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.375em 0.625em;

    gap: 0.25em;

    input {
        color: var(--text-color-light);
        font-size: 0.75em;
        padding: unset;
    }
}

.form-search__field {
    width: 2.35em;
    transition: all 0.2s;
}

.form-search__field:has(input:focus) {
    width: 100%;
}

.form-search__field:has(input:not(:placeholder-shown)) {
    width: 100%;
}
