{
  "extends": ["eslint-config-airbnb-base", "plugin:@typescript-eslint/recommended"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "root": true,
  "settings": {
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true
      }
    }
  },
  "rules": {
    "@typescript-eslint/no-unused-vars": "error",
    "no-unused-vars": "off",
    "import/prefer-default-export": "off",
    "import/extensions": ["error", "never", { "ts": "alvays" }],
    "class-methods-use-this": "off",
    "quotes": ["error", "single", { "allowTemplateLiterals": true }],
    "max-len": [2, 100],
    "sort-imports": ["warn", {
      "allowSeparatedGroups": true,
      "memberSyntaxSortOrder": ["all", "multiple", "single", "none"]
    }],
    "lines-between-class-members": "off",
    "no-empty-pattern": "off",
    "no-underscore-dangle": ["warn", {
      "enforceInMethodNames": false,
      "allowAfterThis": true
    }],
    "no-console": ["error", { "allow": ["warn", "error"] }]
  }
}
