{
  "extends": ["eslint-config-airbnb-base", "plugin:@typescript-eslint/recommended"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "root": true,
  "settings": {
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true
      }
    }
  },
  "rules": {
    "@typescript-eslint/no-unused-vars": "error",
    /** next need to correct ts-lint no-unused-vars */
    "no-unused-vars": "off",
    "import/no-unresolved": ["error", { "ignore": ["\\.hbs\\?raw$"] }],
    "import/prefer-default-export": "off",
    "import/extensions": ["error", "never", { "ts": "alvays" }],
    "class-methods-use-this": "off",
    "quotes": ["error", "single", { "allowTemplateLiterals": true }],
    "max-len": [2, 100],
    "sort-imports": ["warn", { "allowSeparatedGroups": true, "memberSyntaxSortOrder": ["single", "all", "multiple", "none"] }],
    "lines-between-class-members": "off",
    "no-empty-pattern": "off"
  }
}
