.button {
    font-size: 0.75em;
}

.button__fill {
    background: var(--main-color);
    border: none;
    min-height: 2em;
    border-radius: 0.5em;
    color: var(--text-color-contrast);
}

.button__link {
    background: none;
    border: none;
    color: var(--main-color)
}