.button {
    cursor: pointer;
}

.button__fill {
    background: var(--main-color);
    border: none;
    padding: 1em 1.6em;
    border-radius: 0.67em;
}

.button__link {
    background: none;
    border: none;
    color: var(--main-color)
}