.text {
    color: var(--text-color-main);
    font-family: var(--font-family-base);
    font-weight: 500;
    font-size: 0.75em;
}

.text_title {
    font-weight: 600;
}

.text_lable {
    font-size: 0.6em;
    font-weight: 500;
}

.text_info {
    font-size: 0.6em;
    font-weight: 400;
}

.text_light-color {
    color: var(--text-color-light);
}

.text_error-color {
    color: var(--error-color);
}

.text_contrast-color {
    color: var(--text-color-contrast);
}
