@import './fields-container/fields-container.css';
@import './actions-container/actions-container.css';

.form {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    height: 100%;
    width: 100%;

    box-sizing: border-box;
    padding: 3.1em 1.9em 1.9em;
}

.form .form__title {
    padding-bottom: 1.5em;
    text-align: center;
    font-size: 1.25em;
}
