<button class="control-avatar" {{#if disabled}}disabled{{/if}}>
    <div class="control-avatar__trigger">
        <span class="control-avatar__label text text_contrast-color">
            Change avatar
        </span>
    </div>
    {{{avatar}}}
</button>
