<div class="chat__layout">
        <nav class="chat__nav">
                <div class="chat__nav-panel">
                        {{> Button type="text" class="text text_light-color" page="user" label="Profile  ❯"}}
                        {{> SearchField icon=searchIcon}}
                </div>
                {{> Divider}}
                <ul class="chat__list">
                        <li class="chat__item-container">
                                <div class="chat__item">
                                        {{> Avatar size="medium" defaultImage=defaultImage}}
                                        <div class="chat__item-info">
                                                <div class="chat__item-info-title">
                                                        <p class="chat__item-name text text_title">John Doe</p>
                                                        <date class="chat__item-date text text_label text_light-color">Su</date>
                                                </div>
                                                <div class="chat__item-info-subtitle">
                                                        <span class="chat__item-message text text_light-color">Чекаво? Вася!</span>
                                                        <div class="chat__item-count">
                                                                <span class="text text text_contrast-color">1</span>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                                {{> Divider}}
                        </li>
                        <li class="chat__item-container">
                                <div class="chat__item">
                                        {{> Avatar size="medium" defaultImage=defaultImage}}
                                        <div class="chat__item-info">
                                                <div class="chat__item-info-title">
                                                        <p class="chat__item-name text text_title">Kornelius Disappointovichev</p>
                                                        <date class="chat__item-date text text_label text_light-color">09 Feb 2024</date>
                                                </div>
                                                <div class="chat__item-info-subtitle">
                                                        <span class="chat__item-message text text_light-color">Lorem, quas ab similique quia pere culpa kufnsk su veniam accusantium.</span>
                                                        <div class="chat__item-count">
                                                                <span class="text text text_contrast-color">9+</span>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                                {{> Divider}}
                        </li>
                        <li class="chat__item-container">
                                <div class="chat__item">
                                        {{> Avatar size="medium" defaultImage=defaultImage}}
                                        <div class="chat__item-info">
                                                <div class="chat__item-info-title">
                                                        <p class="chat__item-name text text_title">Kornelius Disappointovichev</p>
                                                        <date class="chat__item-date text text_label text_light-color">09 Feb 2024</date>
                                                </div>
                                                <div class="chat__item-info-subtitle">
                                                        <span class="chat__item-message text text_light-color"><span class="text text_title">You: </span>Lorem, quas ab similique quia pere culpa kufnsk su veniam accusantium.</span>
                                                </div>
                                        </div>
                                </div>
                                {{> Divider}}
                        </li>
                        <li class="chat__item-container">
                                <div class="chat__item">
                                        {{> Avatar size="medium" defaultImage=defaultImage}}
                                        <div class="chat__item-info">
                                                <div class="chat__item-info-title">
                                                        <p class="chat__item-name text text_title">Andrew</p>
                                                </div>
                                        </div>
                                </div>
                                {{> Divider}}
                        </li>
                 </ul>
        </nav>
        <div class="messages__container">
                <header class="messages__header">
                        {{> Avatar size="small" defaultImage=defaultImage}}
                        <h1 class="messages__header-title text text_title">Some User</h1>
                        {{> ButtonIcon src=menuIcon page="chat-modal" alt="show chat menu"}}
                </header>
                {{> Divider}}
                {{#> MessagesList}}
                        {{> Message
                                type="text"
                                origin="system"
                                time=""
                                text="02 january"
                        }}
                        {{> Message
                                type="text"
                                origin="incoming"
                                time="12:35"
                                text="Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Vel ea at doloribus mollitia adipisci suscipit quisquam
                                exercitationem et, tenetur inventore tempore tempora
                                doloremque accusamus rerum consequatur ratione voluptate
                                provident assumenda."
                        }}
                        {{> Message
                                type="media"
                                origin="incoming"
                                time="12:35"
                                media=imageContent
                        }}
                        {{> Message
                                type="text"
                                origin="outgoing"
                                time="12:35"
                                text="Шалом, православные!"
                        }}
                        {{> Message
                                type="media"
                                origin="outgoing"
                                time="12:35"
                                media="/public/avatar.jpg"
                        }}
                        {{> Message
                                type="text"
                                origin="outgoing"
                                time="12:35"
                                text="Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Vel ea at doloribus mollitia adipisci suscipit quisquam
                                exercitationem et, tenetur inventore!"
                        }}
                {{/MessagesList}}
                {{> Divider}}
                <footer class="messages__footer">
                        {{> ButtonIcon src=clipIcon alt="send attachment"}}
                        {{> MessageField}}
                        {{> ButtonIcon src=arrowIcon alt="send message" rotate="180" color="main"}}
                </footer>
        </div>
        {{#> Modal title="Add user"}}
                {{#> ModalContent}}
                        {{> Field label="Login" name="login" type="text" value="Anoter User"}}
                {{/ModalContent}}
                {{#> ModalActions}}
                        {{> Button label="Submit" page="chat" type="button" class="text text_contrast-color" alt="submit adding user"}}
                {{/ModalActions}}
        {{/Modal}}
</div>