<div class="chat__layout">
        <nav class="chat__nav">
                <div class="chat__nav-panel">
                        
                </div>
                {{> Divider}}
                <ul class="chat__list">
                        <li class="chat__item-container">
                                <div class="chat__item">
                                        {{> Avatar size="medium"}}
                                        <div class="chat__item-info">
                                                <p class="chat__item-name text text_title">Andrew Bubnov Vadimovich</p>
                                                <date class="chat__item-date text text_label">09 Feb 2024</date>
                                                <span class="chat__item-message text text_light-color">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores soluta rerum praesentium provident facilis sit corporis, voluptatibus, eum porro animi quae ratione, quas ab similique quia perferendis culpa veniam accusantium.</span>
                                                <div class="chat__item-count text text text_contrast-color">10</div>
                                        </div>
                                </div>
                                {{> Divider}}
                        </li>
                        <li class="chat__item-container">
                                <div class="chat__item">
                                        {{> Avatar size="medium"}}
                                </div>
                                {{> Divider}}
                        </li>
                        <li class="chat__item-container">
                                <div class="chat__item">
                                        {{> Avatar size="medium"}}
                                </div>
                                {{> Divider}}
                        </li>
                        <li class="chat__item-container">
                                <div class="chat__item">
                                        {{> Avatar size="medium"}}
                                </div>
                                {{> Divider}}
                        </li>
                        <li class="chat__item-container">
                                <div class="chat__item">
                                        {{> Avatar size="medium"}}
                                </div>
                                {{> Divider}}
                        </li>
                        <li class="chat__item-container">
                                <div class="chat__item">
                                        {{> Avatar size="medium"}}
                                </div>
                                {{> Divider}}
                        </li>
                        <li class="chat__item-container">
                                <div class="chat__item">
                                        {{> Avatar size="medium"}}
                                </div>
                                {{> Divider}}
                        </li>
                        <li class="chat__item-container">
                                <div class="chat__item">
                                        {{> Avatar size="medium"}}
                                </div>
                                {{> Divider}}
                        </li>
                </ul>
        </nav>
        <div class="messages__container">
                <div class="messages__header"></div>
                <div class="messages__list"></div>
                <div class="messages__footer"></div>
        </div>
</div>