<div class="chat__layout">
        <nav class="chat__nav">
                <div class="chat__nav-panel">
                        {{> Button type="text" class="text text_light-color" page="user" label="Profile  ❯"}}
                        {{> SearchField}}
                </div>
                {{> Divider}}
                <ul class="chat__list">
                        <li class="chat__item-container">
                                <div class="chat__item">
                                        {{> Avatar size="medium"}}
                                        <div class="chat__item-info">
                                                <div class="chat__item-info-title">
                                                        <p class="chat__item-name text text_title">$wag $wag $wag $wag $wag $wag $wag</p>
                                                        <date class="chat__item-date text text_label text_light-color">Su</date>
                                                </div>
                                                <div class="chat__item-info-subtitle">
                                                        <span class="chat__item-message text text_light-color">Чекаво? Вася!</span>
                                                        <div class="chat__item-count">
                                                                <span class="text text text_contrast-color">1</span>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                                {{> Divider}}
                        </li>
                        <li class="chat__item-container">
                                <div class="chat__item">
                                        {{> Avatar size="medium"}}
                                        <div class="chat__item-info">
                                                <div class="chat__item-info-title">
                                                        <p class="chat__item-name text text_title">Kornelius Disappointovichev</p>
                                                        <date class="chat__item-date text text_label text_light-color">09 Feb 2024</date>
                                                </div>
                                                <div class="chat__item-info-subtitle">
                                                        <span class="chat__item-message text text_light-color">Lorem, quas ab similique quia pere culpa kufnsk su veniam accusantium.</span>
                                                        <div class="chat__item-count">
                                                                <span class="text text text_contrast-color">9+</span>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                                {{> Divider}}
                        </li>
                        <li class="chat__item-container">
                                <div class="chat__item">
                                        {{> Avatar size="medium"}}
                                        <div class="chat__item-info">
                                                <div class="chat__item-info-title">
                                                        <p class="chat__item-name text text_title">Kornelius Disappointovichev</p>
                                                        <date class="chat__item-date text text_label text_light-color">09 Feb 2024</date>
                                                </div>
                                                <div class="chat__item-info-subtitle">
                                                        <span class="chat__item-message text text_light-color"><span class="text text_title">You: </span>Lorem, quas ab similique quia pere culpa kufnsk su veniam accusantium.</span>
                                                </div>
                                        </div>
                                </div>
                                {{> Divider}}
                        </li>
                        <li class="chat__item-container">
                                <div class="chat__item">
                                        {{> Avatar size="medium"}}
                                        <div class="chat__item-info">
                                                <div class="chat__item-info-title">
                                                        <p class="chat__item-name text text_title">Andrew</p>
                                                </div>
                                        </div>
                                </div>
                                {{> Divider}}
                        </li>
                 </ul>
        </nav>
        <div class="messages__container">
                <div class="messages__header"></div>
                <div class="messages__list"></div>
                <div class="messages__footer"></div>
        </div>
</div>