<div class="form-auth surface surface_shadow surface_rounded">
    <h1 class="form-auth__title text">Authtorisation</h1>
    {{#> Form title="Authtorisation"}}
        {{#> FieldsContainer}}
            {{> Field label="Login" name="login" type="text" value="Andrew Bubnov"}}
            {{> Field label="Password" name="password" type="password" error="Ivalid password" value="qwerty"}}            
        {{/FieldsContainer}}
        {{#> ActionsContainer}}
            {{> Button label="Sign in" type="button" class="text text_contrast-color" page="user"}}
            {{> Button label="Sign up" type="link" class="link text" page="reg"}}
        {{/ActionsContainer}}
    {{/Form}}
</div>