<form class="form form-auth">
    {{#>FormFields}}
        {{{login}}}
        {{{password}}}
    {{/FormFields}}
    {{#>FormActions}}
        {{{submit}}}
        {{{reset}}}
    {{/FormActions}}
</form>
