<label class="search-field" for="search-input">
    <img class="search-field__icon" src={{icon}} alt="search field icon">
    <input class="search-field__input text" type="text" placeholder="Search" id="search-input">
</label>
