.search-field {
    display: flex;
    justify-content: center;

    gap: 4px;
    padding: 6px 10px;

    border-radius: 5px;
    background: var(--background-color-contrast);
}

.search-field__input {
    width: 2.5rem;
    transition: all 0.2s;
}

.search-field__input::placeholder {
    color: var(--text-color-light);
}

.search-field__input:focus {
    width: 100%;
}

.search-field__input:not(:placeholder-shown) {
    width: 100%;
}