<form class="form">
    <label class="" for="avatar-input">Label</label>
    <input
        class="file-input"
        id="avatar-input"
        type="file"
        accept="image/png, image/jpeg"
    >
    {{{submit}}}
</form>
