@font-face {
  font-family: Inter;
  font-style:  normal;
  font-weight: 400;
  src: url("../assets/fonts/Inter-Regular.ttf") format("ttf");
}

@font-face {
  font-family: Inter;
  font-style:  medium;
  font-weight: 500;
  src: url("../assets/fonts/Inter-Medium.ttf") format("ttf");
}

@font-face {
  font-family: Inter;
  font-style:  bold;
  font-weight: 600;
  src: url("../assets/fonts/Inter-SemiBold.ttf") format("ttf");
}
