:root {
    /** COLORS */
    --main-color: #3369F3;
    --second-color: #E4EDFD;
    --error-color: #FF0000;
    --text-color-main: #1E1E1E;
    --text-color-light: #999999;
    --text-color-contrast: #FFFFFF;
    --shadow-color: #00000024;
    --disabled-color: var(--text-color-light);
    --shading-color: #00000040;
    --item-hover-color: var(--second-color);

    /** FONT */
    --font-family-base: 'Inter', sans-serif;
    --font-family-accent: san-serif;
    --font-size: 16px;

    /* BACKGROUND */
    --background-color-default: #FFFFFF;
    --background-color-contrast: #EFEFEF;
    --background-color-tint: #FBFBFB;

    /** SHAPES */
    --surface-border: 0.75em;
    --surface-shadow: 0 0 6px 0 var(--shadow-color);

    /** LAYERS */
    --z-index-content: 1000;
    --z-index-context: 2000;
    --z-index-modal: 6000;
    --z-index-loader: 10000;
}
