{{#> LayoutUserPage}}
        {{#> SidePanel}}
                {{> ButtonIcon color="main" page="chat" src=arrowIcon alt="return"}}
        {{/SidePanel}}
        {{#> BaseLayout}}
                <div class="user">
                        <button class="image-picker button" page="">
                                <span class="image-picker__text text text_title text_contrast-color">Change avatar</span>
                                {{> Avatar size="large" source=userAvatar defaultImage=defaultImage}}
                        </button>
                        <h1 class="user-title text text_title">{{name}}</h1>
                        <div class="user-info">
                                <div class="user-field">
                                        <span class="user-field__lable text">Email</span>
                                        <span class="user-field__value text text_light-color">вячеслав@rf.ру</span>                                        
                                </div>
                                {{> Divider}}
                                <div class="user-field">
                                        <span class="user-field__lable text">Login</span>
                                        <span class="user-field__value text text_light-color">Admin $wag</span>                                        
                                </div>
                                {{> Divider}}
                                <div class="user-field">
                                        <span class="user-field__lable text">Name</span>
                                        <span class="user-field__value text text_light-color">Vecheslav</span>                                        
                                </div>
                                {{> Divider}}
                                <div class="user-field">
                                        <span class="user-field__lable text">Surname</span>
                                        <span class="user-field__value text text_light-color">Свыгодора</span>                                        
                                </div>
                                {{> Divider}}
                                <div class="user-field">
                                        <span class="user-field__lable text">Chat name</span>
                                        <span class="user-field__value text text_light-color">SLA</span>                                        
                                </div>
                                {{> Divider}}
                                <div class="user-field">
                                        <span class="user-field__lable text">Phone</span>
                                        <span class="user-field__value text text_light-color">+66 45 955 12</span>                                        
                                </div>
                                <div class="user-actions">
                                        {{> Button label="Change info" page="user-form" type="link" class="text text_main-color"}}
                                        {{> Divider}}
                                        {{> Button label="Change password" page="login" type="link" class="text text_main-color"}}
                                        {{> Divider}}
                                        {{> Button label="Sign out" page="login" type="link" class="text text_error-color"}}
                                </div>
                        </div>                        
                </div>
        {{/BaseLayout}}
        {{#> Modal title="Load file"}}
                {{#> ModalContent}}
                        {{> Button label="Select file from your computer" page="user" type="link" class="text text_main-color" alt="submit avatar change"}}
                {{/ModalContent}}
                {{#> ModalActions}}
                        {{> Button label="Submit" page="user" type="button" class="text text_contrast-color" alt="submit avatar change"}}
                {{/ModalActions}}
        {{/Modal}}
{{/LayoutUserPage}}
