{{#> LayoutUserPage}}
        {{#> SidePanel}}
                {{> ButtonIcon color="main" page="chat" src=arrowIcon alt="return"}}
        {{/SidePanel}}
        {{#> BaseLayout}}
                <div class="user">
                        {{> Avatar size="large" source=userAvatar defaultImage=defaultImage}}
                        <h1 class="user-title text text_title">{{name}}</h1>
                        {{#> Form}}
                                {{#> FieldsContainer}}
                                        {{> FieldInline label="Current password" name="oldPassword" type="password" value="вячеслав@rf.ру"}}
                                        {{> FieldInline label="New password" name="new" type="newPassword" help="Must include at least one number, special simbol and capital letter" value="Admin $wag"}}
                                        {{> FieldInline label="Repeat new password" name="repeatPassword" type="password" error="Passwords must match" value="Vecheslav"}}
                                {{/FieldsContainer}}
                                {{#> ActionsContainer}}
                                        {{> Button label="Submit" page="user" type="button" class="text text_contrast-color" alt="submit password form"}}
                                {{/ActionsContainer}}
                        {{/Form}}
                </div>
        {{/BaseLayout}}
{{/LayoutUserPage}}