.user {
    display: flex;
    flex-direction: column;
    align-items: center;

    min-width: 420px;
    max-width: 510px;
    width: 100%;
}

.user-title {
    padding: 20px 0 60px;

    font-size: 1rem;
}

.user .form {
    gap: 3rem;
}

.user .form .button {
    width: 17.5rem;
    align-self: center;
}

.user-info {
    width: 100%;

    .divider {
        margin: .62rem 0;
    }
}
.user-field {
    
}

.user-field__lable {

}

.user-field__value {
    position: sticky;
    left: 100%;
}

.user-actions {
    padding-top: 3.7rem;
}

.image-picker {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}

.image-picker:hover {
    display: flex;
    justify-content: center;
    align-items: center;

    .image-picker__text {
        display: block;
    }
}

.image-picker__text {
    position: absolute;
    display: none;

    padding: 50%;
    background-color: var(--modal-background-color);
    /* width: 100%;
    height: 100%; */
}