.field {
    display: flex;
    flex-direction: column;
    border: none;
}

.field__input {
    padding: 0.4em 0;

    border-bottom: 1px solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: var(--main-color);
}

.field__input_error {
    border-color: var(--error-color);
}

.field__input:focus-visible {
    outline: none;
}

.field__input:disabled {
    border-color: var(--disabled-color);
}

.field__lable {
    min-height: 1em;
}

.field__help {
    padding: 0.75em 0 0;
    min-height: 0.8em;
}
