.field {
    display: flex;
    flex-direction: column;
    border: none;
}

.field__input {
    padding: 0.4em 0;

    border-bottom: 1px solid;
    border-color: var(--main-color);
    margin-top: 0.8em;
}

.field__input::placeholder {
    color: var(--text-hided-color);
}

.field__input_error {
    border-color: var(--error-color);
}

.field__input:disabled {
    border-color: var(--disabled-color);
}

.field__label {
    height: 0px;
}

.field__label:has(+ .field__input:not(:focus):placeholder-shown) {
    transform: translateY(1.2em);
    font-size: 0.75em;
    transition:
      font-size 0.2s,
      transform 0.2s;
}

.field__label:has(+ .field__input:focus) {
    transform: translateY(0px);
    transition:
      font-size 0.2s,
      transform 0.2s;
}

.field__help {
    padding: 0.75em 0 0;
    min-height: 0.8em;
}

