.field {
    display: flex;
    flex-direction: column;
    border: none;
}

.field__input {
    padding: 0.6em 0;

    border-bottom: 1px solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: var(--main-color);
}

.field__input_error {
    border-color: var(--error-color);
}

.field__lable {
    padding: 0.3em 0;
    height: 1em;
}

.field__help {
    padding: 0.75em 0 0.3em;
    height: 0.8em;
}
