.field {
    display: flex;
    flex-direction: column;
    border: none;
}

.field .divider {
    background-color: var(--main-color);
}

.field_error .divider {
    background-color: var(--error-color);
}

.field_disabled .divider {
    background-color: var(--disabled-color);
}

.field__container {
    display: flex;
    flex-direction: column;
}

.field__container > .input {
    margin-top: 0.69231em;
}

.field .field__label {
    height: 0px;

    font-size: 0.5625em;
    color: var(--text-color-light);
}

.field__label:has(+ .input:not(:focus):placeholder-shown) {
    transform: translateY(1.3em);
    font-size: 0.8125em;
    transition: font-size 0.2s, transform 0.2s;
}

.field__label:has(+ .input:focus) {
    transform: translateY(0px);
    transition: font-size 0.2s, transform 0.2s;
}

.field__text {
    padding: 0.5em 0 0;
    height: 1em;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* INLINE RULES */

.field__container_inline {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 0.5em;
}

.field__container_inline > .input {
    text-align: right;
}
