.field {
    display: flex;
    flex-direction: column;
    border: none;
}

.field .divider {
    background-color: var(--main-color);
}

.field_error .divider {
    background-color: var(--error-color);
}

.field_disabled .divider {
    background-color: var(--disabled-color);
}

.field-container {
    display: flex;
    flex-direction: column;
}

.field__input {
    padding: .4615385em 0;
    margin-top: .69231em;
}

.field__input::placeholder {
    color: var(--text-hided-color);
}

.field__input:disabled {
    color: var(--disabled-color);
}

.field .field__label {
    height: 0px;

    /* font-size: .8125em; */
    font-size: .5625em;
    color: var(--text-color-light);
}

.field__label:has(+ .field__input:not(:focus):placeholder-shown) {
    transform: translateY(1.3em);
    font-size: .8125em;
    /* font-size: .5625em; */
    transition:
      font-size .2s,
      transform .2s;
}

.field__label:has(+ .field__input:focus) {
    transform: translateY(0px);
    /* font-size: .8125em; */
    /* font-size: .5625em; */
    transition:
      font-size .2s,
      transform .2s;
}

.field__text {
    padding: .875em 0 0;
    height: 1em;
}

/* INLINE RULES */

.field-container_inline {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: .5em;
}

.field .field__input_inline {
    width: 100%;
    padding: .4615385em 0;

    color: var(--text-color-light);
}

.field__input_inline::placeholder {
    color: var(--text-hided-color);
}

.field__input_inline:disabled {
    color: var(--disabled-color);
}

.field .field__label_inline {
    /* font-size: 0.75em; */
}

.field__text_inline {
    padding: 0.75em 0 0;
    min-height: 0.8em;
}
