.dialog__container {
    width: fit-content;
    height: fit-content;

    margin: auto;

    padding: 2.5em 1.875em;
}

.dialog {
    width: 100vw;
    height: 100vh;

    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;

    background-color: var(--shading-color);
}

.dialog_visible {
    display: flex;
}
