<div class="{{#if classes}}{{classes}} {{/if}}dialog__container{{#if isOpen}} dialog__container_visible{{/if}}">
    <div class="dialog surface" onclick="event.stopPropagation()">
        {{{content}}}
    </div>
</div>
