<div class="{{#if classes}}{{classes}} {{/if}}dialog{{#if isOpen}} dialog_visible{{/if}}">
    <div class="dialog__container surface" onclick="event.stopPropagation()">
        {{{content}}}
    </div>
</div>
