<div class="form-reg surface surface_shadow surface_rounded">
    {{#> Form title="Registration"}}
        {{#> FieldsContainer}}
            {{> Field label="Email" name="email" type="email" help="your@email.some" value="вячеслав@rf.ру"}}
            {{> Field label="Login" name="login" type="text" error="Only letters and numbers accepted" value="Admin $wag"}}
            {{> Field label="Name" name="name" type="text" value="Vecheslav"}}
            {{> Field label="Surname" name="surname" type="text" value="Свыгодора"}}
            {{> Field label="Phone" name="phone" type="phone" value="+66 45 955 12"}}
            {{> Field label="Password" name="password" type="password" error="Must include at least one number, special simbol and capital letter" value="36at'rot"}}
            {{> Field label="Password (one more)" name="passwordonemore" type="password" help="Repeat you password" disabled="true"}}
        {{/FieldsContainer}}
        {{#> ActionsContainer}}
            {{> Button label="Submit" page="prof" type="button" class="text text_contrast-color"}}
            {{> Button label="Sign in" page="login" type="link" class="link text"}}
        {{/ActionsContainer}}
    {{/Form}}
</div>