.form-reg {
    display: flex;
    flex-direction: column;
    
    height: 615px;
    width: 340px;
    
    padding: 3.1em 1.9em 1.9em;
}

.form-reg .form-reg__title {
    padding-bottom: 1.5em;
    text-align: center;
    font-size: 1.25em;
}