.input-file {
    display: flex;
    text-align: center;
}

.input-file__label {
    height: 1em;
    width: 100%;

    text-decoration: underline;
}

.input-file__input {
    height: 0;
    width: 0;
    visibility: hidden;
}

.input-file__name {
    height: 1em;
    width: 100%;

    color: red;
}
