<div class='avatar avatar_{{size}}'>
    {{#if source}}
    <img class="avatar__image" src="{{source}}" alt="avatar">
    {{else}}
    <img class="avatar__image avatar__image_default" src="/default-image.svg" alt="avatar">
    {{/if}}
</div>