.avatar {
    border-radius: 50%;
    background-color: var(--background-color-contrast);

    overflow: hidden;

    display: flex;
    justify-content: center;
}

.avatar__image {
    width: 100%;
    height: 100%;

    object-fit: fill;
}

.avatar_large {
    width: 130px;
    height: 130px;
    min-width: 130px;
    min-height: 130px;
}

.avatar_medium {
    width: 37px;
    height: 37px;
    min-width: 37px;
    min-height: 37px;
}

.avatar_small {
    width: 34px;
    height: 34px;
    min-width: 34px;
    min-height: 34px;
}

.avatar__image-default {    
    object-fit: contain;
}
.avatar__image-default_large {
    width: 40px;
}
.avatar__image-default_medium {
    width: 20px;
}
.avatar__image-default_small {
    width: 18px;
}