{{#> BaseLayout}}
    <h1 class="error__title text">{{error}}</h1>
    <p class="error__message text">{{message}}</p>
    {{> Button label="Return to chat list" page="chat" type="link" class="link text"}}
{{/BaseLayout}}
